.result__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.container {
  align-items: center;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(var(--text));
}

.success {
  color: green;
  height: 30px;
  margin-right: 10px;
  transition: .4s ease-in-out;
}
.success:hover {
  scale: 1.2;
}

.image {
  display: block;
  max-width: 90%;
  max-height: 60%;
  object-fit: cover;
  border-radius: 40px;
  border: 2px rgb(var(--primary)) dashed;
  background-color: rgba(var(--primary), 0.3);
  padding: 5px;
  user-select: none;
  transition: scale .2s ease-in-out;
}

.link_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.input{
  outline: none;
  width: 90%;
  border: 1px solid rgba(var(--primary), 0.5);
  padding: 8px;
  flex-grow: 1;
  background-color: rgba(var(--primary), 0.2);
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1rem ;
}
.button{
  margin-top: 15px;
  width: 80%;
  height: 100%;
  border: none;
  font-size:1rem;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  background-color: rgba(var(--primary),1.5);
  color: rgb(var(--background-color));
  cursor: pointer;
  transition: scale 200ms ease-in-out;
  margin-bottom: 10px;
}


.button:hover{
  scale: 1.1;
}

@media screen and (min-width: 768px) {
  .image {
    max-height: 50%;
  }
  .button {
    width: 50%;
  }
  .title {
    font-size: 2rem;
  }
  .success {
    height: 50px;
  }
}