.motion__card {
    margin-top: 20px;
    max-width: 90%;
    width: 90%;
    max-height: 80%;
    border-radius: 20px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px 1px rgba(var(--text),0.3);
    overflow: hidden;
}


@media screen and (min-width: 768px) {
    .motion__card {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .motion__card {
        width: 50%;
    }
}
@media screen and (min-width: 1920px) {
    .motion__card {
        width: 40%;
    }
}