.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    place-items: end center;
    padding: 8px;
    overflow: hidden;
}