.footer {
  width: 90%;
  text-align: center;
  align-self: flex-end;
  margin: 0 auto;
}
.text {
  color: rgb(var(--text));
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.link {
  color: rgb(var(--primary));
  text-decoration: none;
  transition: font-weight 0.2s ease-in-out;
}

.link:hover {
  font-weight: bold;
}